#articles {
    padding: 30px 20px;
    background-color: #F5F5F5;

    .article-item {
        display: flex;
        align-items: center;

        .img {
            padding-bottom: 50%;
            display: inline-block;
            margin-right: 30px;
            border-radius: 500px 0 0 500px;
            width: 60%;
            background-size: cover;
            margin-right: 25px;
        }

        .content {
            display: inline-block;
            width: 35%;

            .title {
                color: $bg-color;
                text-decoration: underline;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
            }

            .date {
                font-size: 12px;
                color: #7B7B7B;
                line-height: 22px;
            }

            .text {
                color: #363435;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    .right {
        .article-item {
            margin-bottom: 30px;
            .img {
                padding-bottom: 38%;
                border-radius:  0 500px 500px 0!important;
            }

            .content {
                // flex: 0 0 40%;

                .title {
                    font-size: 14px;
                }

                .text {
                    font-size: 12px;
                }
            }
        }
    }
}